[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

Agave\ Games\ Case/[Ll]ibrary/
Agave\ Games\ Case/[Tt]emp/
Agave\ Games\ Case/[Oo]bj/
Agave\ Games\ Case/[Bb]uild/
Agave\ Games\ Case/[Bb]uilds/
Agave\ Games\ Case/[Ll]ogs/
Agave\ Games\ Case/[Uu]ser[Ss]ettings/


[Mm]emoryCaptures/
Agave\ Games\ Case/[Mm]emoryCaptures/


[Rr]ecordings/
Agave\ Games\ Case/[Rr]ecordings/

[Aa]ssets/Plugins/Editor/JetBrains*
Agave\ Games\ Case/[Aa]ssets/Plugins/Editor/JetBrains*

.vs/
Agave\ Games\ Case/.vs/

.gradle/
Agave\ Games\ Case/.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
Agave\ Games\ Case/ExportedObj/
Agave\ Games\ Case/.consulo/
Agave\ Games\ Case/*.csproj
Agave\ Games\ Case/*.unityproj
Agave\ Games\ Case/*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.dylib
Agave\ Games\ Case/*.suo
Agave\ Games\ Case/*.tmp
Agave\ Games\ Case/*.user
Agave\ Games\ Case/*.userprefs
Agave\ Games\ Case/*.pidb
Agave\ Games\ Case/*.booproj
Agave\ Games\ Case/*.svd
Agave\ Games\ Case/*.pdb
Agave\ Games\ Case/*.mdb
Agave\ Games\ Case/*.opendb
Agave\ Games\ Case/*.VC.db
Agave\ Games\ Case/*.dylib


*.pidb.meta
*.pdb.meta
*.mdb.meta
Agave\ Games\ Case/*.pidb.meta
Agave\ Games\ Case/*.pdb.meta
Agave\ Games\ Case/*.mdb.meta


sysinfo.txt
Agave\ Games\ Case/sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app
Agave\ Games\ Case/*.apk
Agave\ Games\ Case/*.aab
Agave\ Games\ Case/*.unitypackage
Agave\ Games\ Case/*.app


crashlytics-build.properties
Agave\ Games\ Case/crashlytics-build.properties


[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Agave\ Games\ Case/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*
Agave\ Games\ Case/[Aa]ssets/[Ss]treamingAssets/aa.meta
Agave\ Games\ Case/[Aa]ssets/[Ss]treamingAssets/aa/*
